.workSection {
  position: relative;
  height: 100%;
  width: 100%;

  background: var(--background-color);
  /* overflow-y: hidden; */

  position: relative;
  margin: 0;
  padding: 0;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

section.workSection h1 {
  font-size: calc(var(--font-size-500) * 1.5);
}

h1 {
  white-space: nowrap;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;

  position: fixed;
  bottom: 50px;
}

.projectText {
  /* padding: 0px 2px; */
  box-sizing: border-box;
  /* padding: var(--margin); */
}

.projectHeader,
.projectInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.projectHeader {
  font-size: var(--font-size-500);
}

.projectInfo {
  font-size: var(--font-size-200);
}

.projectInfo .categories {
  display: flex;
  flex-direction: row;
}

.selectedProjectContainer {
  /* overflow-y: scroll !important; */
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}
.selectedProjectContainer img,
.selectedProjectContainer video {
  width: 100%;
  height: auto;
  border-radius: 6px;
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px -2px 2px, rgba(149, 157, 165, 0.2) 0px 2px 2px; */
}
.projectWrapper {
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px -2px 2px, rgba(149, 157, 165, 0.2) 0px 2px 2px; */
  margin-bottom: 40px;
}

.projectHeader {
  font-size: calc(var(--font-size-300) / 1);
}
.projectInfo {
  font-size: calc(var(--font-size-100) / 1);
}
