.projectText {
  text-transform: uppercase;
  line-height: 1;
  padding: var(--margin);
  margin-top: calc(var(--margin) / 1.5);
}

.projectHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: var(--margin);
}
.projectInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--margin);
  min-height: 50vh;
}

.projectContainer {
  margin-top: 10vh;
  --randomBackgroundColor: #000;
  --randomFontColor: #fff;
}

.projectContainer img,
.projectContainer video {
  width: 100%;
  height: 100%;
}

.gallery {
  width: 100%;
}
.galleryRow {
  display: grid;
  /* display: block; */
  gap: calc(var(--margin) / 2);
  margin-bottom: calc(var(--margin) / 2);
}

.galleryRow > * {
  margin: 0; /* Ensure children have no margin */
  display: block;
  width: auto;
  height: 100%;
}

.categories li {
  font-size: var(--font-size-300);
}

.section-header {
  margin-bottom: 10px;
  text-transform: uppercase;
}

.creditcontainer {
  font-size: var(--font-size-300);
  height: var(--font-size-300);
  overflow: hidden;
}

.creditcount_1 {
  white-space: nowrap;
  transform: translateY(var(--font-size-300));
  animation: flipcredits_1 8s ease infinite;
}
.creditcount_2 {
  white-space: nowrap;
  transform: translateY(var(--font-size-300));
  animation: flipcredits_2 8s ease infinite;
}

.gallery img,
.gallery video {
  object-fit: cover;
}

@keyframes flipcredits_1 {
  0% {
    transform: translateY(0%);
  }
  10% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(-50%);
  }
  60% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes flipcredits_2 {
  0% {
    transform: translateY(0%);
  }
  10% {
    transform: translateY(-33%);
  }
  25% {
    transform: translateY(-33%);
  }
  35% {
    transform: translateY(-66%);
  }
  50% {
    transform: translateY(-66%);
  }
  60% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes flipcredits_3 {
  0% {
    transform: translateY(0%);
  }
  10% {
    transform: translateY(-25%);
  }
  16.66% {
    transform: translateY(-25%);
  }
  26.66% {
    transform: translateY(-50%);
  }
  33.33% {
    transform: translateY(-50%);
  }
  43.33% {
    transform: translateY(-75%);
  }
  50% {
    transform: translateY(-75%);
  }
  60% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(0%);
  }
}

.link {
  font-size: var(--font-size-500);
  overflow-x: scroll;
  white-space: nowrap;
  display: inline-flex;
  max-width: 100vw;
  min-width: 100vw;
  line-height: 1;
}

.link a,
.link a:visited {
  color: var(--randomFontColor);
}

/* Small Devices (Phones, 576px and up) */
@media (max-width: 575.98px) {
  .galleryRow {
    display: block;
  }
  .projectInfo {
    display: block;
  }
  .projectText {
    font-size: var(--font-size-300);
  }
  .category {
    height: 22px;
  }
  .creditcontainer {
    height: 22px;
  }
}

/* Phones in Landscape Mode */
@media (min-width: 576px) and (max-width: 767.98px) {
  .galleryRow {
    display: block;
  }
}

/* Medium Devices (Tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* Desktop */
@media (min-width: 991.98px) {
}

/* More Projects */
.moreprojects-wrapper {
  height: 200px;
  position: relative;
}

.moreprojects {
  height: 100%;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}

.moreprojects a {
  height: 100%;
  width: auto;
  /* display: flex; */
  /* align-items: center; */
}

.moreprojects img,
.moreprojects video {
  width: auto;
  height: 100%;
  /* max-width: 300px; */
  /* max-height: 100%; */
  object-fit: cover;
}

.navigation-wrapper {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 50%;
  transform: translateY(-50%);
}

.panButton {
  position: relative;
  background: var(--background-color);
  border-radius: 50%;
  padding: calc(var(--margin) / 1.5);
  width: 40px;
  height: auto;
}
.panButton:first-child {
  left: 20px;
}
.panButton:last-child {
  right: 20px;
}

@media (max-width: 575.98px) {
}

/* Small Devices (Phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
}

/* Medium Devices (Tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 991.98px) {
}
