.projectNavigation {
  max-width: 60px;
  display: flex;
  flex-direction: column;
  /* background: blue; */
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}
.projectNavigation * {
  width: 100%;
  height: auto;
}

.projectNavigation img,
.projectNavigation video {
  border-radius: calc(var(--margin) / 2);
}
