.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.titleContainer {
  font-size: 22px;
  line-height: 1.1;

  font-family: "NeueHaasDisplay";
  padding: 10px;
}
.titleContainer span {
  text-decoration: underline;
  margin-left: 2px;
}

.gridParent {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100vw;
  height: 100vh;
  gap: 0px;
}
.gridCel {
  display: grid;
  position: relative;
  background: #fff;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px;
  background-image: url("/assets/media/p02.png"); /* Corrected syntax */
  background-size: cover; /* Optional: Makes sure the image covers the full background */
  background-position: center; /* Optional: Centers the image */
  z-index: 1;
  transition: 0.3s ease;
}
.gridCel .gridCel {
  position: relative;
  background-size: cover; /* Optional: Makes sure the image covers the full background */
  background-position: center; /* Optional: Centers the image */
  z-index: 2;
}
.gridCel .gridCel .gridCel {
  position: relative;
  background-size: cover; /* Optional: Makes sure the image covers the full background */
  background-position: center; /* Optional: Centers the image */
  z-index: 3;
}
.gridCel .gridCel .gridCel .gridCel {
  position: relative;
  background-size: cover; /* Optional: Makes sure the image covers the full background */
  background-position: center; /* Optional: Centers the image */
  z-index: 4;
}
.gridCel .gridCel .gridCel .gridCel .gridCel {
  position: relative;

  background-size: cover; /* Optional: Makes sure the image covers the full background */
  background-position: center; /* Optional: Centers the image */
  z-index: 5;
}

.project {
  width: 100%;
  height: auto;
  line-height: 0;
}

.project img,
.project video {
  width: 100%;
  height: auto;
}
