.wrapper {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 33.33% 33.33% 33.33%;
  gap: 0px;
  max-width: 100vw;
  max-height: 100vh;

  width: 100vw;
  height: 100vh;
}

section {
  transition: background 0.3s ease;
}

section:nth-child(2n) {
  background: #fafafa;
}

section.about {
  font-family: NeueHaasDisplay;
  font-size: var(--font-size-300);

  color: var(--font-color);
  /* background: #eeff5a; */

  overflow-y: scroll;
}

section.work {
  position: relative;
  width: 100%;
  height: 100%;
}

section.public {
  font-family: NeueHaasDisplay;
}
section.type {
  font-size: calc(var(--font-size-300) * 1.1);

  /* color: #bfff31 !important; */
  /* background: #1c1e69 !important; */
  color: var(--font-color) !important;
  background: var(--background-color);
}

section:hover {
  /* cursor: pointer; */
  /* background: #eeff5a; */
}

section.work {
  /* padding: 0 !important; */
}

section {
  position: relative;
  overflow: hidden;
}
.sectionTitle {
  width: 100%;
  height: 100%;
  background: #e1ff4a;
  color: var(--font-color);
  font-size: 7vw;
  letter-spacing: -10px;
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translateX(-100%);
  transition: transform 0.4s ease;
  z-index: 100;
  /* opacity: 0.9; */
}
section.type:hover .sectionTitle {
  transform: translateX(0%);
}
section.work:hover .sectionTitle {
  transform: translateX(0%);
}

.section-title {
  position: absolute;
  bottom: var(--margin);
  right: var(--margin);
  background: transparent;
  color: #999999;
  padding: 0px 5px;
  border-radius: 5px;
  font-size: var(--font-size-200);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.tag {
  background: var(--background-color);
  color: var(--font-color);

  font-size: var(--font-size-200);
  padding: 2px;
  border-radius: 4px;
}

/* Small Devices (Phones, 576px and up) */
@media (max-width: 575.98px) {
  .wrapper {
    display: block;
    height: auto;
    max-height: unset;
  }
  section.about {
    font-size: var(--font-size-400);
    line-height: 1;
  }
  section.contact {
    height: 300px;
  }
}

/* Phones in Landscape Mode */
@media (min-width: 576px) and (max-width: 767.98px) {
  .wrapper {
    display: block;
  }
}

/* Medium Devices (Tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
  }
}

/* Desktop */
@media (min-width: 991.98px) {
}
