:root {
  --thumbnailWidth: 15vw;
}

.view3D {
  height: 100vh;
  width: 100vw;
}

.projectPreview {
  width: var(--thumbnailWidth);
  height: calc(var(--thumbnailWidth) / 1.4);
  object-fit: cover;
  overflow: hidden;
  border-radius: var(--margin);
  /* position: absolute; */
  transition: box-shadow 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
  box-shadow: none;
}

.projectPreview:hover {
  box-shadow: var(--box-shadow);
  --thumbnailWidth: 20vw;
}

.projectPreview img {
  min-width: var(--thumbnailWidth);
  min-height: calc(var(--thumbnailWidth) / 1.4);
  max-width: var(--thumbnailWidth);
  max-height: calc(var(--thumbnailWidth) / 1.4);
  width: auto;
  height: auto;

  object-fit: cover;
  overflow: hidden;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}
