:root {
  --thumbnailWidth: 5vw;
}

.view3D {
  height: 100vh;
  width: 100vw;
}

.projectPreview {
  width: var(--thumbnailWidth);
  height: calc(var(--thumbnailWidth) / 1.4);
  object-fit: cover;
  overflow: hidden;
  border-radius: var(--margin);
  /* position: absolute; */

  box-shadow: none;
}

.projectWrapper {
  transition: transform 0.3s ease;
}
.projectWrapper:hover {
  transform: scale(1.5);
}

.projectPreview img {
  min-width: var(--thumbnailWidth);
  min-height: calc(var(--thumbnailWidth) / 1.4);
  max-width: var(--thumbnailWidth);
  max-height: calc(var(--thumbnailWidth) / 1.4);
  width: auto;
  height: auto;

  object-fit: cover;
  overflow: hidden;
}
