.coverimage img {
  width: 100%;
  height: 100%;
}

.project-info {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  text-transform: uppercase;
  margin-bottom: var(--margin);
}

.categories {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.project {
  margin-top: 30px;
}
.project:first-child {
  margin-top: 0px;
}

.image-trail {
  /* height: 50vh; */
  width: 100vw;

  position: relative;
}

/* Splash */
.splash-wrapper {
  width: 100vw;
  height: auto;

  box-sizing: border-box;
  padding: var(--margin);
  line-height: 0.8;
  margin-top: 20px;
}

.splash-wrapper img {
  width: 100%;
  height: auto;
}

/* Faux Header */
.faux-header {
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  top: 0px;
  z-index: 995;
  font-size: var(--font-size-100);
  box-sizing: border-box;

  text-transform: uppercase;
  color: #fff !important;

  mix-blend-mode: difference;
  position: sticky;
  top: 10px;
  margin-bottom: 300px;
}

.header-inner {
  width: 100%;
  display: grid;
  grid-template-columns: 33vw 1fr 20px;
  /* gap: 10px; */
}
.menu-item {
  margin-right: 40px;
}
.header-inner div:last-child {
  display: flex;
  justify-content: end;
}

.faux-header a,
.faux-header a:visited {
  color: #fff !important;
}

.faux-header .socials {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
