:root {
  --randomBackgroundColor: #000;
  --randomFontColor: #fff;
}

.coverimage {
  width: calc(100vw);
  position: relative;
  left: calc(-1 * var(--margin));
  position: relative;
}
.coverimage img {
  width: 100%;
  height: 100%;
}
.coverimage video {
  width: 100%;
  height: 100%;
}

.project {
  position: relative;
}
.project-info {
  width: 100%;
  text-transform: uppercase;
  /* display: grid; */
  /* grid-template-columns: 100px auto auto auto; */
  /* margin-bottom: var(--margin); */
  position: absolute;
  bottom: 20px;
  /* mix-blend-mode: difference; */
  /* color: #fff; */
  z-index: 20;
  /* font-size: 32px; */
  font-size: var(--font-size-400);
  display: flex;
  justify-content: space-between;
}
.project-info .categories {
  justify-content: end;
}

.categories {
  display: flex;
  flex-direction: column;
  /* gap: 4px; */
}

.container-title {
  margin-bottom: -20px;
  text-transform: none !important;
  letter-spacing: -6px;
  padding: calc(var(--margin) * 3);
}
.container-title span span span:first-child {
  margin-right: calc(-1 * (var(--font-size-500) / 13.33));
}

/* Splash */
.splash-wrapper {
  width: 100vw;
  height: auto;

  box-sizing: border-box;
  padding: var(--margin);
  line-height: 0.8;
  margin-top: 20px;
  overflow: visible;
}

/* Faux Header */
.faux-header {
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  top: 0px;
  z-index: 995;
  font-size: var(--font-size-100);
  box-sizing: border-box;

  text-transform: uppercase;
  color: #fff !important;

  mix-blend-mode: difference;
  position: sticky;
  top: var(--margin);
  margin-bottom: 300px;
}

.header-inner {
  width: 100%;
  display: grid;
  grid-template-columns: 33vw 1fr 20px;
}
.menu-item {
  margin-right: 40px;
}
.header-inner div:last-child {
  display: flex;
  justify-content: end;
}

.faux-header a,
.faux-header a:visited {
  color: #fff !important;
  text-decoration: underline;
}

.faux-header .socials {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.index {
  white-space: nowrap;
}

.menu-button {
  position: relative;
}
.menu-button img {
  position: relative;
  width: 30px;
  height: auto;
  filter: invert();
}

.expandMenu {
  width: 100vw;
  height: 100dvh;
  position: fixed;
  top: 0;
  transform: translateX(calc(-100% - var(--margin)));
  background: red;
  /* filter: invert(); */
  transition: transform 0.2s ease-in-out;
  z-index: 1000;
  mix-blend-mode: normal !important;
  padding: var(--margin);
}

.expandMenu h2 {
  text-transform: none;
  font-size: 20vw;
}

.expandMenu a {
  text-decoration: none;
}

.expandMenu .menu-item {
  margin-right: 0px;
}

.close {
  position: absolute;
  bottom: var(--margin);
  right: var(--margin);
  font-size: var(--font-size-400) !important;
}

.letter-container {
  position: relative;
}

.image {
  position: absolute;
  width: 10px;
  height: 10px;
  top: -3px;
  left: 0px;

  transition: transform 0.4s ease-in-out;
  border-radius: 1px;

  transform: translate(-50%, -50%) scale(0);
}

.page-footer {
  /* margin-top: 50px; */
  /* padding-bottom: 20px; */
  background: #000;
  color: #fff;
  width: 100vw;
  position: relative;
  left: -10px;
  bottom: -10px;
}
.page-footer .title {
  font-size: 20vw;
  letter-spacing: -3px;
}

.footer-menu {
  display: flex;
  flex-direction: column;
}

.footer-wrapper {
  display: grid;
  grid-template-columns: 33vw auto auto;
  padding: var(--margin);
}

@media (max-width: 575.98px) {
  .header-inner div:first-child {
    justify-content: start;
  }

  .expandMenu.expanded {
    transform: translateX(calc(0% - var(--margin)));
  }

  .container-title {
    letter-spacing: -1px;
    padding: 0px;
    margin-bottom: 0px;
  }

  .project-info {
    grid-template-columns: auto 1fr;
    gap: var(--margin);
    line-height: 0.9;
    display: grid;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    width: 100vw;
    position: absolute;
    left: -10px;
    margin-bottom: 0px;
  }
  .project {
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0px;
  }

  .year {
    display: none;
  }
  .categories {
    display: none;
  }
}
