.project-container {
  text-transform: uppercase;
  margin-top: 15vh;
  padding-left: var(--pagemargin);
}
.container-title {
  margin-bottom: 20px;
}
.sectionHeading {
  margin-bottom: calc(var(--font-size-100) / 2);
}
.project {
  display: grid;
  grid-template-columns: 5vw 22vw 6vw 33vw auto;
}

.thumbnail {
  width: 15px;
  max-height: 12px;

  object-fit: cover;
  object-position: center;
  height: auto;
  margin-left: 0.5px;
}
.thumbnail:first-child {
  margin-left: 5px;
}
.title-container {
  display: flex;
}

.categories {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

@media screen and (max-width: 576px) {
  .project {
    display: flex;
    flex-direction: row;
  }
  .categories {
    display: none;
  }
}
