header {
  height: 40px;
  width: 100%;
  padding: var(--margin);
  box-sizing: border-box;
  align-items: center;
  position: fixed;
  top: 0px;
  z-index: 100;
  z-index: 995;
  font-size: var(--font-size-100);
  box-sizing: border-box;

  text-transform: uppercase;
  color: #fff !important;

  mix-blend-mode: difference;
}

.header-inner {
  width: 100%;
  display: grid;
  grid-template-columns: 33vw 1fr 20px;
}
.menu-item {
  margin-right: 40px;
}
.header-inner div:last-child {
  display: flex;
  justify-content: end;
}

header a,
header a:visited {
  color: #fff !important;
}

header .socials {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.expandMenu {
  width: 100vw;
  height: 100dvh;
  position: fixed;
  top: 0;
  transform: translateX(calc(-100% - var(--margin)));
  background: red;
  /* filter: invert(); */
  transition: transform 0.2s ease-in-out;
  z-index: 1000;
  mix-blend-mode: normal !important;
  padding: var(--margin);
}

.expandMenu h2 {
  text-transform: none !important;
  font-size: 20vw;
}

.expandMenu a {
  text-decoration: none;
}

.expandMenu .menu-item {
  margin-right: 0px;
}

.close {
  position: absolute;
  bottom: var(--margin);
  right: var(--margin);
}

@media (max-width: 575.98px) {
  .header-inner div:first-child {
    justify-content: start;
  }

  .expandMenu.expanded {
    transform: translateX(0%);
  }
}
