header {
  height: 40px;
  width: 100%;
  padding: var(--margin);
  box-sizing: border-box;
  align-items: center;
  position: fixed;
  top: 0px;
  z-index: 100;
  /* gap: 10px; */
  z-index: 995;
  font-size: var(--font-size-100);
  box-sizing: border-box;

  text-transform: uppercase;
  color: #fff !important;

  mix-blend-mode: difference;
}

.header-inner {
  width: 100%;
  display: grid;
  grid-template-columns: 33vw 1fr 20px;
  /* gap: 10px; */
}
.header-inner span {
  margin-right: 40px;
}
.header-inner div:last-child {
  display: flex;
  justify-content: end;
}

header a,
header a:visited {
  color: #fff !important;
}

header .socials {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
