#header {
  background: var(--background-color);
  height: auto;
  width: 100%;

  box-sizing: border-box;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 995;
  font-size: var(--font-size-150);
  box-sizing: border-box;

  padding: 0px;
}

.email-button {
  line-height: 1;

  background: var(--font-color);
  color: var(--background-color);
  white-space: nowrap;
  overflow-x: scroll;
  height: 100%;
  display: inline-flex;
  align-items: center;
  align-self: center;
}

.scroll-text {
  display: inline-block;
  white-space: nowrap;
}

.header-announcement {
  background: #ccc;
  height: 30px;
}

.header-inner {
  padding: 5px !important;
  /* padding-right: 0px; */
}

.expandMenu {
  width: 100vw;
  height: 100dvh;
  position: fixed;
  top: 0;
  transform: translateX(calc(-100% - var(--margin)));
  background: red;
  /* filter: invert(); */
  transition: transform 0.2s ease-in-out;
  z-index: 1000;
  mix-blend-mode: normal !important;
  padding: var(--margin);
}

#header a {
  /* text-decoration: none; */
  margin-right: 10px;
}

.expandMenu h2 {
  text-transform: none !important;
  font-size: 20vw;
}

.expandMenu a {
  text-decoration: none;
}

.expandMenu .menu-item {
  margin-right: 0px;
}

.close {
  position: absolute;
  bottom: var(--margin);
  right: var(--margin);
}

@media (max-width: 575.98px) {
  .header-inner div:first-child {
    justify-content: start;
  }

  .expandMenu.expanded {
    transform: translateX(0%);
  }
}
