.projectsNav {
  top: 11px;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: top;
  position: relative;
  gap: var(--margin);
  /* position: fixed; */
  /* top: 40px; */
  /* left: 10px; */
}

.projectView {
  display: flex;
  flex-direction: column;
  gap: calc(var(--margin) / 2);
}

.viewMenu {
  display: flex;
  flex-direction: column;
  gap: calc(var(--margin) / 2);
  margin: 0px;
}

.filterButton {
  margin-left: 30px;
}
