/* Global Styles */

/* @charset "UTF-8"; */

@font-face {
  font-family: "NeueHaasText";
  src: url("/assets/fonts/NeueHaasGrotText-55Roman.otf");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "NeueHaasDisplay";
  src: url("/assets/fonts/NeueHaasGrotDisp-55Roman.otf");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "NeueHaasBold";
  src: url("/assets/fonts/NeueHaasGrotDisp-75Bold-Trial.otf");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

* {
  scrollbar-width: none;
  appearance: none;
  -webkit-appearance: none;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;

  box-sizing: border-box;
}

*::-webkit-scrollbar {
  scrollbar-width: none;
  -webkit-appearance: none;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  width: 0;
  height: 0;
}

:root {
  --font-size-100: 11px;
  --font-size-150: 17px;
  --font-size-200: 28px;
  --font-size-300: 50px;
  --font-size-400: 70px;
  --font-size-500: 300px;

  --line-height-100: 1;
  --line-height-200: 1.15;
  --line-height-300: 1.15;
  --line-height-400: 1.15;
  --line-height-500: 1;

  --font-weight-text: NeueHaasDisplay;

  --font-color: #000;
  --background-color: #fff;
  --pink: #eebaee;
  --purple: #814b82;
  --lightgreen: #39bc00;
  --darkgreen: #205c19;

  --margin: 10px;
  --pagemargin: 5%;

  --header-height: 30px;

  --opening-transition-duration: 1s;
  --transition-duration: 0.3s;

  --wghtAxis: 0;
  --cursAxis: 0;

  --img-width: 180px;
  --img-ratio: 1.59;
  --img-offset-x: 20px;
  --img-offset-y: 20px;
  --img-border-radius: 7px;

  --border-radius: 16px;

  /* --animated-background-color: rgb(204, 204, 204); */
  --animated-background-color: #fff;
}

body {
  font-family: var(--font-weight-text);
  background: var(--animated-background-color);
  color: var(--font-color);
  /* padding: var(--margin); */
  font-size: var(--font-size-150);
  line-height: var(--line-height-200);

  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;

  padding: var(--margin);
  padding: 0;
  margin: 0;

  overflow-x: hidden !important;
  min-height: 100vh;
  width: 100%;
}

.link:hover {
  color: #e3e3e3;
}

.mask-split-container {
  padding: 0 !important;
  /* overflow: hidden; */
  position: relative;

  height: fit-content;
  width: 100%;
  /* display: inline-block; */
}

.color-selection li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  filter: invert();
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* p {
  margin: 0;
} */
li {
  text-decoration: none;
  padding: 0;
  margin: 0;
  list-style: none;
}

h1 {
  font-size: var(--font-size-500);
  line-height: var(--line-height-500);
  padding: 0;
  margin: 0;
}

a,
a:visited,
a:hover {
  color: var(--font-color);
  text-decoration: underline;
}

button {
  margin: 0;
  padding: 0;
  color: inherit;
  outline: none;
  border: none;
  padding: 0px 10px;
}
button {
  box-sizing: border-box;
  width: fit-content;
  height: fit-content;
  white-space: nowrap;
}

main {
  box-sizing: border-box;

  padding: var(--margin);
}
section {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

h5 {
  font-size: var(--font-size-100);
  padding: 0;
  margin: 0;
}

h2 {
  font-size: var(--font-size-300);
  line-height: 1;
}

h2 .letter {
  margin-right: 0px;
}
h2 .word {
  margin-right: 10px;
}

h1 .letter {
  margin-right: -3px;
}

h1 .word {
  margin-right: 50px;
}

p {
  margin: 0;
}

a .letter {
  text-decoration: underline;
  text-underline-offset: 6px;
}

mux-player {
  --play-button: none;
  --live-button: none;
  --seek-backward-button: none;
  --seek-forward-button: none;
  --mute-button: none;
  --captions-button: none;
  --airplay-button: none;
  --pip-button: none;
  /* --fullscreen-button: none; */
  --cast-button: none;
  --playback-rate-button: none;
  --volume-range: none;
  --time-range: none;
  --time-display: none;
  --duration-display: none;
  --rendition-menu-button: none;
}

.grid {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--margin);
  padding: 5px;
  z-index: 10000;
  pointer-events: none;
  opacity: 0.3;
}

.grid-12 {
  display: grid !important;
  grid-template-columns: repeat(12, 1fr) !important;
  gap: var(--margin) !important;
  /* padding: 0 5px; */
}

.grid-6 {
  display: grid !important;
  grid-template-columns: repeat(6, 1fr) !important;
  gap: var(--margin) !important;
  /* padding: 0 5px; */
}

.col-span-1 {
  grid-column: span 1;
}
.col-span-2 {
  grid-column: span 2;
}
.col-span-3 {
  grid-column: span 3;
}
.col-span-4 {
  grid-column: span 4;
}
.col-span-5 {
  grid-column: span 5;
}
.col-span-6 {
  grid-column: span 6;
}
.col-span-7 {
  grid-column: span 7;
}
.col-span-8 {
  grid-column: span 8;
}
.col-span-9 {
  grid-column: span 9;
}
.col-span-10 {
  grid-column: span 10;
}
.col-span-11 {
  grid-column: span 11;
}
.col-span-12 {
  grid-column: span 12;
}

.grid > div {
  border: 1px solid #ccc;
}

.scroll-text {
  display: inline-block;
  white-space: nowrap;
}

.thumbnail {
  display: inline-block;
  width: calc(12px * 1.414);
  max-height: 12px;
  transform-origin: left center;
  position: relative;
}

.imagecontainer {
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  height: 100%;
}

.thumbnail .imagecontainer {
  display: inline-block;
  height: 12px;
  width: fit-content;
}

.thumbnail img,
.thumbnail video {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  height: 12px;
  margin-left: 0.5px;
}

.letter {
  display: inline-block;
  position: relative;
  overflow: visible;
}
.word {
  display: inline-block;
  margin-right: 3px;
  position: relative;
}

.textcontainer {
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  height: 100%;
  display: inherit;
}

.splash {
  font-size: 40vw;
  position: relative;
  left: -1.3vw;
  transform: scale(1.024);
  transform-origin: top left;
}

.splash .word {
  display: flex;
  flex-direction: row;
}

.category {
  background: #4b4b4b;
  color: #fff;
  font-size: var(--font-size-100);
  border-radius: 5px;
  padding: calc(var(--margin) / 2);
  height: fit-content;
  margin-right: 3px;
  width: fit-content;
}
.project-label {
  background: #4b4b4b;
  color: #fff;
  font-size: var(--font-size-100);
  border-radius: 5px;
  padding: calc(var(--margin) / 2);
  height: fit-content;
  margin-right: 3px;
  width: fit-content;
}

.live {
  background: var(--purple);
  color: var(--pink);
  font-size: var(--font-size-100);
  border-radius: 5px;
  padding: calc(var(--margin) / 2);
  height: fit-content;
  margin-right: 3px;
  width: fit-content;
}
.category-container {
  display: flex;
  flex-direction: row;
}

@keyframes spin {
  0% {
    transform: rotate(0deg) scale(3);
  }
  100% {
    transform: rotate(1turn) scale(3);
  }
}
@keyframes spin-alt {
  0% {
    transform: rotate(0deg) scale(1);
  }
  100% {
    transform: rotate(1turn) scale(1);
  }
}

/* Phones in Landscape Mode */
@media (max-width: 575.98px) {
  :root {
    --font-size-100: 14px;
    --font-size-200: 18px;
    --font-size-300: 24px;
    --font-size-400: 35px;
    --font-size-500: 65px;

    --line-height-100: 14px;
    --line-height-200: 18px;
    --line-height-300: 24px;
    --line-height-400: calc(var(--font-size-400) / 1.25);
    --line-height-500: calc(var(--font-size-500) / 1.25);
  }
}

/* Small Devices (Phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
}

/* Medium Devices (Tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* Desktop */
@media (min-width: 991.98px) {
}
