.public {
  height: 100%;
  width: 100%;
  position: relative;
}

.item,
.experienceItem {
  display: flex;
  flex-direction: row;

  align-items: center;
  gap: 10px;
  /* margin-bottom: 10px; */
}
.name {
  font-size: calc(var(--font-size-300));
  text-decoration: underline;
}
.date {
  font-size: var(--font-size-100);
  white-space: nowrap;

  width: 20px;
  min-width: 30px;
}
.thumbnail img {
  height: auto;
  width: 50px;
}

.alternatingImage {
  /* position: absolute; */
  transform: translate(-50%, -50%);
  pointer-events: none;
  width: 200px;
  height: 130px;
  border-radius: 10px;
  overflow: hidden;
  position: fixed;
}

.alternatingImage img {
  height: auto;
  width: 100%;
  background-size: cover;
}
