.container {
  height: 100%;
  width: 100%;
  position: relative;
  text-transform: uppercase;
  padding: 50px;
  box-sizing: border-box;

  padding: 50px;
  box-sizing: border-box;
  margin-top: 15vh;
  padding-top: 0px;
}

.wrapper {
  margin-bottom: calc(var(--font-size-text) * 1.1);
  line-height: 1;
  font-size: var(--font-size-100);
}

.listItem {
  display: grid;

  grid-template-columns: 5vw auto;
  width: fit-content;
}

.name.link {
  text-decoration: underline;
}

.date {
  font-size: var(--font-size-100);
}

.alternatingImage {
  transform: translate(-50%, -50%);
  pointer-events: none;
  width: 200px;
  height: 130px;
  border-radius: 10px;
  overflow: hidden;
  position: fixed;
}

.alternatingImage img {
  height: auto;
  width: 100%;
  background-size: cover;
}
