.container {
  height: 100%;
  width: 100%;
  position: relative;
  text-transform: uppercase;
  padding: var(--pagemargin);
  box-sizing: border-box;

  box-sizing: border-box;
  margin-top: 15vh;
  padding-top: 0px;
}

.wrapper {
  margin-bottom: calc(var(--font-size-400) * 1.1);
  line-height: 1;
  font-size: var(--font-size-100);
}

.listItem {
  display: grid;

  grid-template-columns: 5vw auto;
  width: fit-content;
}

.name .link {
  text-decoration: underline;
}

.date {
  font-size: var(--font-size-100);
}

.alternatingImage {
  transform: translate(-50%, -50%);
  pointer-events: none;
  width: 200px;
  height: 130px;
  border-radius: 10px;
  overflow: hidden;
  position: fixed;
}

.alternatingImage img {
  height: auto;
  width: 100%;
  background-size: cover;
}

@media screen and (max-width: 579px) {
  .date {
    display: flex;
    flex-direction: column;
  }
  .name {
    margin-left: 5px;
  }

  .name span span span {
    text-decoration: underline;
  }
  .listItem {
    display: grid;
    grid-template-columns: 25px auto auto;
    justify-content: center;
    /* gap: 5px; */
    margin-bottom: var(--margin);
  }
  img {
    border-radius: 5px;
  }
}
