.container {
  height: 100%;
  width: 100%;
  position: relative;
  background: var(--background-color);

  padding: 10px 20px;
  margin-top: 35px;
}

.wrapper {
  margin-bottom: calc(38px * 1.1);
  line-height: 1.1;
  font-size: 38px;
  font-family: NeueHaasDisplay;
}

.listItem {
  display: flex;
  /* grid-template-columns: auto 40px 60px;  */
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.listItem.link {
  text-decoration: underline;
}

.name {
}
.date {
  font-size: var(--font-size-100);
  text-align: center;
}
.thumbnail img {
  height: auto;
  width: 60px;
  max-height: 40px;
  object-fit: cover;
}

.alternatingImage {
  /* position: absolute; */
  transform: translate(-50%, -50%);
  pointer-events: none;
  width: 200px;
  height: 130px;
  border-radius: 10px;
  overflow: hidden;
  position: fixed;
}

.alternatingImage img {
  height: auto;
  width: 100%;
  background-size: cover;
}
