.projectList {
  position: relative;
  height: 80vh;
  overflow-y: hidden;
}

.projectListItem {
  display: grid;
  grid-template-columns: 140px 40px 50% auto auto;

  align-items: center;

  transform-origin: center left;

  text-align: center;
  /* box-shadow: var(--box-shadow); */

  height: 100px;
  width: 100%;
  transform: scale(0.05);
  /* background-color: blue; */
}

.projectListItem img,
.projectListItem video {
  width: auto;
  height: 100px;
  object-fit: cover;
  width: 140px;
}

.projectTitle {
  font-size: var(--h8);
  font-family: "NeueHaasDisplay-Thin";
  white-space: nowrap;
}

.projectListItem:hover {
  color: #ccc;
}

.categories {
  display: flex;
  flex-direction: row;
  white-space: wrap;
}

.credit {
  display: flex;
  flex-direction: row;
}

.line {
  height: 1px;
  width: 100vw;
  background: #eee;
}

/* .marker {
  height: 100px;
  width: 20px;
  background: #ccc;
  border-radius: 10px;

  transition: var(--transition-duration) background;
} */
