.projectList {
  position: relative;
  height: 80vh;
  overflow-y: hidden;
}

.projectListItem {
  /* margin-bottom: var(--margin);  */
  display: grid;
  grid-template-columns: minmax(100px, 12vw) 40px 40% auto auto;
  width: 100%;
  align-items: center;

  transform-origin: middle center;
  /* position: absolute; */
  height: 10px;
  transform: scale(0.1);
  text-align: center;
}

.projectListItem img,
.projectListItem video {
  width: auto;
  height: 100px;
  object-fit: cover;
  width: 140px;
}

.projectTitle {
  font-size: var(--h8);
  font-family: "NeueHaasDisplay-Thin";
  white-space: nowrap;
}

.projectListItem:hover {
  color: #ccc;
}

/* .marker {
  height: 100px;
  width: 20px;
  background: #ccc;
  border-radius: 10px;

  transition: var(--transition-duration) background;
} */
