.footer {
  padding: calc(var(--margin) * 2);
  color: #fff;
  background: #000;
  height: 20vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer a,
.footer a:visited {
  color: #fff;
}

.footer-inner {
  font-size: var(--font-size-100);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media screen and (max-width: 579px) {
  #footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
