footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  font-size: var(--font-size-100);

  align-items: center;
  box-sizing: border-box;

  display: grid;
  grid-template-columns: 33vw 1fr 1fr;
  padding: var(--margin);
  text-transform: uppercase;
}

footer div:last-child {
  text-align: right;
}
