.project-container {
  text-transform: uppercase;
  margin-top: 10vh;
  padding-left: var(--pagemargin);
}
.container-title {
  margin-bottom: -20px;
  text-transform: none !important;
  /* letter-spacing: -6px; */
}
.container-title span:last-child {
  margin-left: -10px;
}
.sectionHeading {
  margin-bottom: calc(var(--font-size-100) / 2);
}
.project {
  display: grid;
  grid-template-columns: 5vw 22vw 6vw 33vw auto;
}

.title-container {
  display: flex;
}

.project.hovered .title-container div {
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.project.hovered .title-container div:nth-child(1) {
  left: 0px;
}
.project.hovered .title-container div:nth-child(2) {
  left: 100px;
}
.project.hovered .title-container div:nth-child(3) {
  left: 200px;
}
.project.hovered .title-container div:nth-child(4) {
  left: 300px;
}
.project.hovered .title-container div:nth-child(5) {
  left: 400px;
}
.categories {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

@media screen and (max-width: 576px) {
  .project {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .year {
    align-self: flex-end;
    text-align: right;
    justify-content: end;
    position: absolute;
    right: var(--pagemargin);
  }

  .project span:last-child {
    justify-content: end;
  }

  .categories {
    display: none;
  }

  .container-title {
    /* letter-spacing: -1px; */
    padding: calc(var(--margin) * 2);
    margin-bottom: 0px;
  }
  .container-title span:last-child {
    margin-left: -4px;
  }
}
