.competencies {
  display: flex;
  flex-direction: column;
}

.title {
  /* font-size: 42px; */

  display: grid;
  grid-template-columns: 120px auto;
  margin-bottom: 10px;
  text-transform: none !important;
  letter-spacing: 1px;
}

.competencies {
  text-transform: uppercase;
  margin-left: 80px;
}
.competencies li {
  display: grid;
  grid-template-columns: 25px auto;
  align-items: center;
}
.competencies .count {
  font-size: calc(var(--font-size-100) / 1.75);
}
.competencies-container {
  display: flex;
  flex-direction: row;
  gap: calc(var(--margin) * 2);
}

.service-section {
  margin-bottom: 50px;
}

.content {
  padding: var(--pagemargin);
  box-sizing: border-box;
  margin-top: 15vh;
  padding-top: 0px;
}

@media screen and (max-width: 579px) {
  .competencies-container {
    flex-direction: column;
    gap: calc(var(--margin) * 2);
  }
  .competencies {
    margin-left: 60px;
  }

  .title {
    grid-template-columns: 100px auto;
  }
  .service-section {
    margin-bottom: 40px;
  }
  .content {
    padding: var(--pagemargin) 0px;
  }
}
