section.openingSection {
  width: 100%;
  height: auto;
  height: 100vh;

  /* perspective: 1000px; */
  /* display: flex; */
}

.thumbnailImage {
  position: relative;
}

.thumbnailImage img,
.thumbnailImage video {
  z-index: 999;
  /* transform: perspective(400px); */
  width: 220px;
  height: auto;
  /* position: relative; */
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.thumbnailContainer {
  position: absolute;
  top: 10px;
  left: 20px;
}

/* section.openingSection video,
section.openingSection img {
  width: 20%;
  height: auto;

  cursor: auto;
  border-radius: 20px;
  display: block;
  object-fit: cover;
  background-color: rgba(0, 0, 0, 0);
  object-position: 50% 50%;
} */
