section.aboutSection {
  height: 80vh;
  /* position: sticky; */
  /* top: 50px; */
  font-family: NeueHaasDisplay;
  font-size: var(--font-size-500);
  line-height: var(--line-height-500);
  position: sticky;
  top: 40px;
  /* color: #daff62; */
  /* background: #796c63; */
  /* color: #fcfcd3; */
  /* background: #d0cec8; */
}

.biographyText {
  width: 100%;
  height: 100%;
}

.wordContainer {
  display: inline-block;
  margin-right: 4px;
  perspective: 100px;
  position: relative;
}
.letterContainer {
  display: inline-block;
  perspective: 100px;
  position: relative;
}

.wordFront,
.letterFront {
  animation: none;
  transform: rotateX(0deg);
  /* transform-origin: middle center; */
  display: inline-block;
}

.wordBack,
.letterBack {
  animation: none;
  transform: rotateX(-90deg);

  /* transform-origin: middle center; */
  position: absolute;

  left: 0px;
  /* font-family: Times; */
}
