section.aboutSection {
  height: 100vh;
  /* position: sticky; */
  /* top: 50px; */
  font-family: NeueHaasDisplay;
  font-size: var(--font-size-500);
  line-height: var(--line-height-500);
  /* position: sticky; */
  /* top: 0; */
}

.biographyText {
  width: 100%;
  height: 100%;
}
